<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/fonts.css" />
</head>

<body class="body-summary">
    <div class="wrapper">
        <div class="summary-title">
            <h1>article summarizer</h1>
            <h2>{{title}}</h2>
        </div>
        <div class="original">
            <p>original</p>
            <textarea type="text" disabled>
                {% for item in original %}
                    {{item}}
                {% endfor %}
        </textarea>
        </div>
        <div class="summary">
            <p>summary</p>
            <textarea type="text" disabled>
                {% for item in original %}
                    {{item}}
                {% endfor %}
        </textarea>
        </div>
    </div>
</body>
</html>